.top-bar{
	background-color: #4e7f16;
	color: #e8e8e8;
	height: 50px;
	width: 100%;
	font-size: 1.4rem;
	cursor: pointer;
}
.top-bar li:hover{
	background-color: #3D670C;
	color: #ffffff;
}
.list-row{
	width: 50%;
	list-style: decimal;
}
.list-row li{
	display: inline-block;
	padding: 0px 10px;
	line-height: 50px;
}
.list-row li a{
	color: #e8e8e8;
}
.main-header{
	height: 130px;
	width: 100%;
	background-color: #eaefe1;
	text-align: center;
}
.main-header>div{
	display: inline-block;
	width: 26.5%;
	vertical-align: middle;
}
.right-side div{
	line-height: 35px;
	font-size: 2.4rem;
	font-family: "kaiti";
	text-align: left;
}
.right-side div:first-child{
	padding-left: 20px;
}
.right-side div:last-child{
	text-align: right;
}
.left-side{
	text-align: center;
	line-height: 130px;
	font-size:3.2rem  ;
	font-family: "kaiti";
	font-weight: bolder;
}
.center-side{
	width: 130px;
	height: 130px; 
	overflow: hidden;
}
.center-side img{
	max-height: 130px;
}
.nav-area{
	width: 100%;
	height: 60px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	box-shadow: 0px 1px 2px 1px #ccc;
}
.nav-content{
	width: 80%;
	margin:0px auto;
}
.nav-content li{
	display: inline-block;
	width: 14%;
	line-height: 60px;
	font-size: 1.8rem;
	text-align: center;
	cursor: pointer;
}
.nav-content a{
	color: inherit;
}
.nav-content li:hover{
	background-color: #68a226;
	color: #fff;
}
.nav-content li.active{
	background-color: #68a226;
	color: #fff;
}
.item-content{
	width: 80%;
	padding: 10px 10%;
	font-size: 1.4rem;
}
.item-greyBack{
	background-color: #f1f1ef;
}
.item-whiteBack{
	background-color: #fff;
}
.item-title{
	background-image: url("../icon/toRight.png");
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: 0px 80%;
	font-size: 1.8rem;
	font-weight: bolder;
	padding: 10px 0px 10px 34px;
	margin-left: -34px;
}
.item-text{
	line-height: 25px;
	text-indent: 28px;
	padding-bottom: 10px;
}
.item-img{
	padding-bottom: 10px;
	text-align: center;
}
.works-area{
	width: 40%;
	display: inline-block;
	margin-right: 20px;
	overflow: hidden;
}
.works-content{
	text-align: center;
	width:-moz-calc(100% + 14px);
    width:-webkit-calc(100% + 14px);
    width: calc(100% + 14px);
	overflow-y: scroll;
	height: 500px;
}
.works-area .works-name{
	display: block;
	font-size: 2rem;
	line-height: 40px;
}
.works-content .works-img{
	max-width: 100%;
}
.article-content{
	width:-moz-calc(30% - 42px);
    width:-webkit-calc(30% - 42px);
    width: calc(30% - 42px);
	float: left;
	height: 400px;
	border-radius: 5px;
	margin-right: 5%;
	padding: 0px 20px;
	text-align: justify;
	overflow: hidden;
	line-height: 26px;
}
.article-content:last-child{
	margin-right: 0px;
}
.article-title{
	font-size: 1.6rem;
	display: block;
	text-align: center;
	text-indent: 0px;
	line-height: 40px;
}
.chatInfo-area{
	width: 70%;
	height: 570px;
	background-color: #f1f1ef;
	padding: 30px 15% 20px 15%;
	border-bottom: 1px solid #ccc;
}
.chatInfo-header{
	height: 30px;
	width:-moz-calc(99% + 3px);
    width:-webkit-calc(99% + 3px);
    width: calc(99% + 3px);
	line-height: 30px;
	font-size: 1.6rem;
	text-align: center;
	background-color: #68a226;
	color: #fff;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.chatFriends-content{
	width: 20%;
	height:-moz-calc(100% - 30px);
    height:-webkit-calc(100% - 30px);
    height: calc(100% - 30px);
	float:left;
	border: 1px solid #ccc;
	border-top: 0px;
}
.chatInfo-content{
	width: 79%;
	height:-moz-calc(100% - 30px);
    height:-webkit-calc(100% - 30px);
    height: calc(100% - 30px);
	float: left;
	background-color: #fff;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.showInfo-area{
	height:-moz-calc(60% - 10px);
    height:-webkit-calc(60% - 10px);
    height: calc(60% - 10px);
	width: 100%;
	padding-bottom: 10px;
	overflow:hidden;
	border-bottom: 1px solid #ccc;
}
.showInfo-content{
	height: 100%;
	width:-moz-calc(100% + 15px);
    width:-webkit-calc(100% + 15px);
    width: calc(100% + 15px);
	overflow-y:scroll;
}
.sendInfo-bar{
	height: 7%;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.sendInfo-content{
	height:-moz-calc(33% - 3px);
    height:-webkit-calc(33% - 3px);
    height: calc(33% - 3px);
}
.massage-content{
	padding: 5px 10px;
}
.massage-left{
	text-align: left;
}
.massage-right{
	text-align: right;
}
.massage-left .massage-info{
	margin-left: 10px;
}
.massage-right .massage-info{
	margin-right: 10px;
}
.massage-sender{

}
.sender-name{
	font-size: 1.8rem;
	display: inline-block;
}
.sender-time{
	color:#cccccc;
	margin-left: 20px;
	display: inline-block;
}
.massage-info{
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 1.6rem;
	background-color: #b8cca1
}
.sendInfo-content textarea{
	display: inline-block;
	height:-moz-calc(100% - 20px);
    height:-webkit-calc(100% - 20px);
    height: calc(100% - 20px);
	width:-moz-calc(100% - 20px);
    width:-webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    font-size: 1.4rem;
    font-family: "kaiti";
	outline: none;
	border: 0px;
	max-width: 100%;
	max-height: 100%;
	padding: 10px;
}
.friend-item{
	height: 40px;
	padding: 10px;
}
.friend-item.active{
	background-color: #dededc;
}
.friend-img{
	max-width: 20%;
	max-height: 100%;
	vertical-align: middle;
	border-radius: 50%;
	background-color: #fff;
}
.firend-name{
	display: inline-block;
	position: relative;
	top:8px;
	width:-moz-calc(80% - 14px);
    width:-webkit-calc(80% - 14px);
    width: calc(80% - 14px);
	font-size: 1.6rem;
	margin-left: 7px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.foot-area{
	background-color: #1e1e1d;
	color:#cdcece;
	font-size: 1.4rem;
	padding: 20px 10%;
}
.foot-area .foot-left{
	line-height: 30px;
	width: 65%;
	display: inline-block;
	text-align: center;
}
.foot-area .item-key{
	width: 80px;
	display: inline-block;
	margin-right: 10px;
	text-align: right;
}
.foot-area .item-value{
	width: 200px;
	display: inline-block;
	text-align: left;
}
.foot-area .erweima{
	width: 30%;
	display: inline-block;
}
.foot-area .erweima label{
	width: 33%;
	display: inline-block;
	margin-right: 5%;
	margin-left: 10%;
	position: relative;
	top:-10px;
	line-height: 20px;
}
.foot-area .erweima img{
	max-width: 50%;
	height: 100px;
	position: relative;
	top:3px;
}